/*
 * Globals
 */

/* Fonts */

/* http://www.fontsquirrel.com/license/Raleway */
@font-face {
	font-family: 'Raleway-Thin';
	src: url('../fonts/Raleway-Thin-webfont.eot?') format('eot'), 
	     url('../fonts/Raleway-Thin-webfont.otf')  format('opentype'),
	     url('../fonts/Raleway-Thin-webfont.woff') format('woff'), 
	     url('../fonts/Raleway-Thin-webfont.ttf')  format('truetype'),
	     url('../fonts/Raleway-Thin-webfont.svg#Raleway-Thin') format('svg');
}

/* http://www.fontsquirrel.com/license/bree-serif */
@font-face {
	font-family: 'BreeSerif-Regular';
	src: url('../fonts/BreeSerif-Regular-webfont.eot?') format('eot'), 
	     url('../fonts/BreeSerif-Regular-webfont.otf')  format('opentype'),
	     url('../fonts/BreeSerif-Regular-webfont.woff') format('woff'), 
	     url('../fonts/BreeSerif-Regular-webfont.ttf')  format('truetype'),
	     url('../fonts/BreeSerif-Regular-webfont.svg#BreeSerif-Regular') format('svg');
}

/* http://www.fontsquirrel.com/license/bitter */
@font-face {
	font-family: 'Bitter-Regular';
	src: url('../fonts/Bitter-Regular-webfont.eot?') format('eot'), 
	     url('../fonts/Bitter-Regular-webfont.otf')  format('opentype'),
	     url('../fonts/Bitter-Regular-webfont.woff') format('woff'), 
	     url('../fonts/Bitter-Regular-webfont.ttf')  format('truetype'),
	     url('../fonts/Bitter-Regular-webfont.svg#Bitter-Regular') format('svg');
}

/* Links */
a,
a:focus,
a:hover {
  color: #999;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #efefef;
  background-image: url('/images/ice-penguins.jpg');
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover;
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
    background-color: rgba(255, 255, 255, .9);
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,.5);
    box-shadow: 0 0 35px rgba(0,0,0,.5);
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead {
    font-family: "Bitter-Regular";
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #444; /* IE8 proofing */
  color: rgba(68,68,68,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #444;
  border-bottom-color: rgba(68,68,68,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/* Element Styles */

h5 small, h3 small {
    color: #666;
}

.cover-heading {
    font-family: "Raleway-Thin", "Times New Roman", "Times", serif;
    font-size: 3em;
}

section { text-align: left; }

section h2, section h3 {
    clear: both;
    font-family: "Raleway-Thin", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
}

section h3 { clear: none; margin-top: 25px; border-bottom: none; }

section h4 {
    font-family: "Raleway-Thin", "Times New Roman", "Times", serif;
}

section h4, section h5 { color: #333; }
section h5 { margin-top: 15px; font-size: 100%; }

section a { color: #333; text-decoration: underline; }

.list {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 1.1em;
    line-height: 1.7;
    padding: 0;
}

.list li { margin-bottom: 0px; }
.list li:last-child { margin-bottom: inherit; }
.experience>li { margin-bottom: 25px; }

.summary, .certs { list-style-position: inside; }
.education, .experience { list-style-type: none; }
.education h4, .experience h4 { float: left; margin: 0 inherit; }
.title { clear: both; font-weight: bold; margin: 0 inherit; }
.date { float: right; clear: none; margin: 0 15px 0 0; }
.skills dd, .description { color: #666; }

dl.skills  { padding: 0 0 2.2em; margin: 0; }
.skills dt { padding-top: .5em; font-size: 1.1em; clear: left; font-weight: bold; }
dd.skill { margin: .25em .25em 0 0; padding: 0; float: left; display: block; white-space: nowrap; }
dd.skill:after { content:', '; }
dd.skill:last-child:after { content: '.'; }

.hide { display: none; }

footer #socialPrint { display: none; }

.centerChild>div { text-align: center; }

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: relative;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  #skills_col1, #skills_col2 {
      display: block;
      float: left;
      width: 50%;
  }
    #skills_col1 {
        padding-right: 20px;
    }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot {
    width: 100%;
  }
  .cover-container {
      width: 80%;
  }
}

@media print {
    header { text-align: center; }
    header h1 {
        font-family: Raleway-Thin, 'Lucida Sans Unicode', 'Trebuchet MS', Verdana, Arial, Helvetica, Sans-Serif;
        font-weight: normal;
        letter-spacing: -1px;
        color: #000;
        font-size: 3em;
        margin: 0 auto;
    }
    header h2, #social { padding-left: 0; }
    header h2 { font-size: 2em; }
    section { padding-left: 10px; }
    section h3, footer h3 { text-align: left; font-size: 1.2em; }
    section h4 { font-size: 1.3em; }
    footer { padding-left: 10px; text-align: left; }
    footer #social { display: none; }
    footer #socialPrint { display: block; }
    footer ul.social { list-style-type: none; }
    footer ul.social li { margin: 0; display: block; width: 50%; float: left; }
    .summary li, .certs li { margin-bottom: 2px; }
    .list { list-style-position: inside; padding-left: 5px; }
    .list, dl { font-size: .8em; }
    .experience li { list-style-position: outside; }
    .certs li { display: block; width: 50%; float: left; }
    dl.skills { padding: 0; display: block; width: 50%; float: left; }
    .education h4, .experience h4 { float: none; }
    .date { float: none; }
}